@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --swiper-navigation-size:30px !important;
    --swiper-theme-color: #F8c8DC !important;
    color:#2b2839
}
[data-theme='dark'] {
  --background: black;
  --foreground: white;
}

body{
    margin: auto;
}

.swiper-button-next{
    color:white !important;
    background-color: #F8C8DC;
    padding:30px;
    border-radius: 100%;
}
.swiper-button-prev{
    color:white !important;
    background-color: #F8C8DC;
    padding:30px;
    border-radius: 100%;
}
.swiper-pagination{
    
}

.ant-pagination .ant-pagination-options{
  display: none !important;
}



